BraveSoftware
dconf
font-manager
fontconfig
go
gtk-*
ibus
pulse
.gsd-keyboard.settings-ported
user-dirs.*
falkon
autostart
qt5ct
xfce4
volumeicon
manjaro-hello.json
mimeapps.list
Thunar
Kvantum
pamac
