BraveSoftware
dconf
font-manager
fontconfig
go
gtk-*
ibus
pulse
.gsd-keyboard.settings-ported
user-dirs.*
falkon
autostart
qt5ct
xfce4
volumeicon
manjaro-hello.json
mimeapps.list
Thunar
Kvantum
pamac
Slack
wireshark
Docker Desktop
composer
nextjs-nodejs
uv
monitors.conf
libreoffice
kdeconnect
viewnior
Electron
unity3d
nvm
Code
GIMP
neofetch
psysh
bruno
lnav
zoom*.conf
QtProject.conf
ngrok.yml
QCachegrind.conf
opencode/package-lock.json
zoom
audacious
intelephense
